#result {
    display: none;

    width: 100%;
    height: -webkit-calc(40%);
    height: calc(40%);

    &.active {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        position: relative;

        button {
            position: absolute;
            right: 0;
            margin-right: calc(3.5%);
            top: calc(6%);
            height: 30px;
            width: 30px;
        }

        textarea {
            line-height: 17px;
            font-size: 16px;
            width: 95%;
            height: 90%;
        }
    }
}
