/* ==========================================================================
   Object
   ========================================================================== */

/* Component
   ----------------------------------------------------------------- */

/**
 * flex box を使用した横並び
 */
 .flex-box {
    display: flex;
    align-items: center; /*上下中央よせ*/
}

.flex-box--space-between {
    @extend .flex-box;
    justify-content: space-between;
}